body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

form{
    display: flex;
    flex-direction: column;
    background: #fff;
    text-align: center;
    padding: 20px 25px;
    box-shadow: 0 5px 10px;
}


.c1{
    margin: auto ;
    width: 45rem;
    text-align: center;
}
.c2{
    margin: auto ;
    width: 25rem;
    text-align: center;
}
.c3{
    margin: auto ;
    width: 28rem;
    text-align: left;
}
.img1 {
    width: 8rem;
    height: 8rem;
    background-color: white;
}
tr{
    margin-top: 2px;
    padding: 2px;
}